html {
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #632461 #b46b93;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: #b46b93;
}

html::-webkit-scrollbar-thumb {
  background-color: #632461;
}

body {
  font-family: "tj", sans-serif;
}

* {
  font-family: inherit;
}

input,
a,
button {
  font-family: "tj", sans-serif;
}

input:focus,
a:focus,
button:focus {
  outline: none;
  text-decoration: none;
}

input:hover,
a:hover,
button:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

button:focus, button:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:hover, button:active, button:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.open > .dropdown-toggle.btn-default {
  background-color: transparent !important;
}

@media (max-width: 991px) {
  .open > .dropdown-toggle.btn-default {
    background-color: #FFF !important;
  }
}

ul.res {
  padding: 0;
  margin: 0;
  list-style: none;
}

html[dir="ltr"] header .dropdown-menu-right {
  left: 0;
  right: auto;
}

@media (max-width: 991px) {
  header .dropdown-menu-right {
    width: 100%;
  }
}

@font-face {
  font-family: "tjLight";
  src: url("../fonts/Tajawal-Light.ttf") format("ttf"), url("../fonts/Tajawal-Light.woff") format("woff"), url("../fonts/Tajawal-Light.woff2") format("woff2"), url("../fonts/Tajawal-Light.eot") format("eot");
}

@font-face {
  font-family: "tj";
  src: url("../fonts/Tajawal-Regular.ttf") format("ttf"), url("../fonts/Tajawal-Regular.woff") format("woff"), url("../fonts/Tajawal-Regular.woff2") format("woff2"), url("../fonts/Tajawal-Regular.eot") format("eot");
}

@font-face {
  font-family: "tjMd";
  src: url("../fonts/Tajawal-Medium.ttf") format("ttf"), url("../fonts/Tajawal-Medium.woff") format("woff"), url("../fonts/Tajawal-Medium.woff2") format("woff2"), url("../fonts/Tajawal-Medium.eot") format("eot");
}

@font-face {
  font-family: "tjBold";
  src: url("../fonts/Tajawal-Bold.ttf") format("ttf"), url("../fonts/Tajawal-Bold.woff") format("woff"), url("../fonts/Tajawal-Bold.woff2") format("woff2"), url("../fonts/Tajawal-Bold.eot") format("eot");
}

@font-face {
  font-family: "tjBlk";
  src: url("../fonts/Tajawal-Black.ttf") format("ttf"), url("../fonts/Tajawal-Black.woff") format("woff"), url("../fonts/Tajawal-Black.woff2") format("woff2"), url("../fonts/Tajawal-Black.eot") format("eot");
}

@-webkit-keyframes flash {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#742e70), to(#9a5695));
  background-image: linear-gradient(to right bottom, #742e70, #9a5695);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99999;
}

.preloader .spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0;
  border-left: 4px solid #FFF;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.sk-chase {
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-animation: sk-chase 2.5s infinite linear both;
          animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: sk-chase-dot 2.0s infinite ease-in-out both;
          animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
          animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes sk-chase {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sk-chase {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-chase-dot {
  80%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-chase-dot-before {
  50% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100%, 0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100%, 0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.navover {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(51, 187, 199, 0.95);
  z-index: 999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.navover span {
  display: none;
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navover.open {
  opacity: 1;
  visibility: visible;
}

.navover.open span {
  display: block;
}

.sideNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#742e70), to(#9a5695));
  background-image: linear-gradient(to right bottom, #742e70, #9a5695);
  z-index: 999;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scale(0) translate(10px, 10px);
          transform: scale(0) translate(10px, 10px);
}

.sideNav.open {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.sideNav.open .options {
  opacity: 1;
}

.sideNav.open ul {
  opacity: 1;
}

.sideNav.open ul li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.sideNav.origin {
  -webkit-transform-origin: left;
          transform-origin: left;
}

html[dir="ltr"] .sideNav.origin {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.sideNav .options {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50px;
  opacity: 0;
}

.sideNav .options .lang a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: #fff;
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.sideNav .options .close1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.sideNav .options .close1 span {
  color: #FFF;
}

html[dir="ltr"] .sideNav .options .close1 span {
  color: #fff;
}

.sideNav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.sideNav > ul > li {
  position: relative;
  padding: 5px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

html[dir="ltr"] .sideNav > ul > li {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.sideNav > ul > li:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.sideNav > ul > li:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.sideNav > ul > li:nth-child(3) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.sideNav > ul > li:nth-child(4) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.sideNav > ul > li:nth-child(5) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.sideNav > ul > li:nth-child(6) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.sideNav > ul > li.drop > a {
  position: relative;
}

.sideNav > ul > li.drop > a > span {
  margin-right: 10px;
  margin-left: -20px;
  font-size: 10px;
  color: #fff;
}

html[dir="ltr"] .sideNav > ul > li.drop > a > span {
  margin-right: -20px;
  margin-left: 10px;
}

.sideNav > ul > li.drop.open span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sideNav > ul > li a {
  width: 100%;
  display: block;
  font-family: "tjMd";
  position: relative;
  font-size: 17px;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sideNav > ul > li .megaMenu {
  display: none;
  margin-top: 10px;
}

.sideNav > ul > li .megaMenu li:not(:last-child) {
  margin-bottom: 6px;
}

.sideNav > ul > li .megaMenu li a {
  font-size: 15px;
  color: #e4e4e4;
}

.sideNav > ul > li .drop {
  width: 100%;
  padding: 5px 15px;
  display: none;
  overflow: visible;
  height: auto;
}

.sideNav > ul > li .drop li {
  padding: 4px 0;
}

.sideNav > ul > li .drop li a {
  font-size: 15px;
  color: #898989;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sideNav > ul > li .drop li a:hover {
  color: #595959;
}

header .container {
  position: relative;
}

header .upper {
  position: absolute;
  top: 5px;
  left: 15px;
}

html[dir="ltr"] header .upper {
  left: unset;
  right: 15px;
}

@media (max-width: 991px) {
  header .upper {
    display: none;
  }
}

header .upper > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .upper > ul li:not(:last-child) {
  margin-left: 18px;
}

html[dir="ltr"] header .upper > ul li:not(:last-child) {
  margin-left: 0;
  margin-right: 18px;
}

header .upper > ul li a {
  color: #939393;
  font-size: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .upper > ul li a:hover {
  color: #2bb7c4;
}

header .upper > ul li .btn-group .dropdown-menu {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  width: 100%;
  border: 1px solid #33BBC7;
}

header .upper > ul li .btn-group .dropdown-menu li a {
  -webkit-transition: .5s;
  transition: .5s;
}

header .upper > ul li .btn-group .dropdown-menu li a:hover {
  color: #33BBC7;
  background-color: transparent;
}

header .upper > ul li .btn-group button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  color: #939393;
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .upper > ul li .btn-group button:hover, header .upper > ul li .btn-group button:active, header .upper > ul li .btn-group button:focus {
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .upper > ul li .btn-group button.btn-default:active:focus {
  color: #939393;
}

header .upper > ul li .btn-group button img {
  margin-left: 10px;
}

html[dir="ltr"] header .upper > ul li .btn-group button img {
  margin-left: 0;
  margin-right: 10px;
}

header .upper > ul li .btn-group button span {
  margin-right: 10px;
  font-size: 8px;
  color: currentColor;
}

html[dir="ltr"] header .upper > ul li .btn-group button span {
  margin-right: 0;
  margin-left: 10px;
}

header .upper > ul li .btn-group.open .dropdown-toggle, header .upper > ul li .btn-group:active, header .upper > ul li .btn-group:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #939393 !important;
}

@media (min-width: 992px) {
  header .upper > ul li .btn-group .dropdown-menu {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  html[dir="ltr"] header .upper > ul li .btn-group .dropdown-menu {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

@media (min-width: 1200px) {
  header .upper > ul li .btn-group .dropdown-menu {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

header .upper > ul li .btn-group .dropdown-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #939393;
}

html[dir="ltr"] header .upper > ul li .btn-group .dropdown-menu li a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  direction: rtl;
}

header .upper > ul li .btn-group .dropdown-menu li a img {
  margin-left: 10px;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 15px;
}

@media (max-width: 991px) {
  header .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .content .logo img {
  width: 178px;
  height: 104px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

header .content .menuTriger, header .content .searchTriger {
  display: none !important;
}

@media (max-width: 991px) {
  header .content .menuTriger, header .content .searchTriger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  header .content .menuTriger span, header .content .searchTriger span {
    font-size: 18px;
    margin-left: 5px;
  }
  html[dir="ltr"] header .content .menuTriger span, html[dir="ltr"] header .content .searchTriger span {
    margin-left: 0;
    margin-right: 5px;
  }
}

header .content .search {
  position: relative;
  width: 555px;
  height: 45px;
  border: 2px solid #e5e5e5;
  border-radius: 100px;
  margin-top: 15px;
  margin-left: 45px;
  margin-right: auto;
}

html[dir="ltr"] header .content .search {
  margin-right: 45px;
  margin-left: auto;
}

header .content .search > span.lnr {
  display: none;
}

@media (min-width: 992px) {
  header .content .search {
    width: 355px;
  }
}

@media (min-width: 1200px) {
  header .content .search {
    width: 555px;
  }
}

@media (max-width: 991px) {
  header .content .search {
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 999;
    background-color: transparent;
    width: 80%;
    margin: 0;
    height: auto;
    border: 0;
    -webkit-transform: translateY(90px) translateX(-50%);
            transform: translateY(90px) translateX(-50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s;
  }
  header .content .search.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px) translateX(-50%);
            transform: translateY(0px) translateX(-50%);
  }
  header .content .search > span.lnr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    color: #FFF;
    font-size: 24px;
  }
}

header .content .search .input-group {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  header .content .search .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .content .search .input-group-btn {
  width: 204px;
  height: 100%;
  position: relative;
}

header .content .search .input-group-btn .dropdown-menu {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  width: 100%;
  border: 1px solid #33BBC7;
}

header .content .search .input-group-btn .dropdown-menu li a {
  -webkit-transition: .5s;
  transition: .5s;
}

header .content .search .input-group-btn .dropdown-menu li a:hover {
  color: #33BBC7;
  background-color: transparent;
}

@media (max-width: 991px) {
  header .content .search .input-group-btn {
    width: 100%;
    height: 45px;
  }
}

header .content .search .input-group-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 30px;
  background-color: #eaeaea;
}

html[dir="ltr"] header .content .search .input-group-btn:after {
  left: unset;
  right: 0;
}

@media (max-width: 991px) {
  header .content .search .input-group-btn:after {
    display: none;
  }
}

header .content .search .input-group-btn button {
  width: 100%;
  height: 100%;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 27px;
  padding-left: 18px;
  border-radius: 100px;
  color: #333333;
  font-size: 14px;
}

html[dir="ltr"] header .content .search .input-group-btn button {
  padding-left: 27px;
  padding-right: 18px;
}

@media (max-width: 991px) {
  header .content .search .input-group-btn button {
    padding-left: 27px;
  }
  html[dir="ltr"] header .content .search .input-group-btn button {
    padding-right: 27px;
  }
}

header .content .search .input-group-btn button span {
  color: currentColor;
  font-size: 8px;
}

header .content .search .input-group-btn button:hover {
  background-color: transparent !important;
}

@media (max-width: 991px) {
  header .content .search .input-group-btn button:hover {
    background-color: #FFF !important;
  }
}

header .content .search .input-group-btn button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

@media (max-width: 991px) {
  header .content .search .input-group-btn button:active {
    background-color: #FFF !important;
  }
}

header .content .search .input-group-btn button:focus {
  background-color: #FFF !important;
  outline: none;
}

header .content .search .input-group.open .dropdown-toggle, header .content .search .input-group:active, header .content .search .input-group:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #939393 !important;
  background-color: transparent;
}

header .content .search .input-group input {
  border: 0;
  height: 100%;
  width: 347px;
  border-radius: 100px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-size: 14px;
  color: #bbbbbb;
  padding-right: 18px;
}

html[dir="ltr"] header .content .search .input-group input {
  padding-left: 18px;
  padding-right: 0;
}

@media (max-width: 991px) {
  header .content .search .input-group input {
    width: 100%;
    height: 45px;
    margin-top: 20px;
  }
}

header .content .search .input-group input::-webkit-input-placeholder {
  color: #bbbbbb;
}

header .content .search .input-group input::-moz-placeholder {
  color: #bbbbbb;
}

header .content .search .input-group input:-ms-input-placeholder {
  color: #bbbbbb;
}

header .content .search .input-group input::-ms-input-placeholder {
  color: #bbbbbb;
}

header .content .search .input-group input::placeholder {
  color: #bbbbbb;
}

header .content .search .input-group > button {
  width: 36px;
  height: 35px;
  border-radius: 50%;
  background-color: #2bb7c4;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 4px;
  -webkit-transform: translateY(-52%);
          transform: translateY(-52%);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html[dir="ltr"] header .content .search .input-group > button {
  left: unset;
  right: 2px;
}

@media (max-width: 991px) {
  header .content .search .input-group > button {
    top: 80%;
  }
}

header .content .search .input-group > button span {
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .content .search .input-group > button:hover {
  background-color: #763072 !important;
}

header .content .user-sec {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .content .user-sec > div,
header .content .user-sec a {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  cursor: pointer;
}

html[dir="ltr"] header .content .user-sec > div, html[dir="ltr"]
header .content .user-sec a {
  margin-right: 20px;
  margin-left: 0;
}

header .content .user-sec p.th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

@media (max-width: 375px) {
  header .content .user-sec p.th {
    display: none;
  }
}

header .content .user-sec .user {
  position: relative;
}

header .content .user-sec .user span.lnr-user {
  font-size: 18px;
  margin-left: 5px;
}

html[dir="ltr"] header .content .user-sec .user span.lnr-user {
  margin-right: 5px;
  margin-left: 0;
}

header .content .user-sec .user span.lnr-chevron-down {
  font-size: 8px;
  margin-right: 7px;
}

html[dir="ltr"] header .content .user-sec .user span.lnr-chevron-down {
  margin-left: 7px;
  margin-right: 0;
}

@media (max-width: 375px) {
  header .content .user-sec .user span.lnr-chevron-down {
    display: none;
  }
}

header .content .user-sec .user .dropDown {
  position: absolute;
  top: 100%;
  left: 45%;
  -webkit-transform: translateX(-50%) translateY(20px);
          transform: translateX(-50%) translateY(20px);
  width: 150px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 375px) {
  html[dir="ltr"] header .content .user-sec .user .dropDown {
    left: 27%;
  }
}

header .content .user-sec .user .dropDown:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateY(-100%) translateX(-2px);
          transform: translateY(-100%) translateX(-2px);
}

header .content .user-sec .user .dropDown ul {
  padding: 9px 0;
}

header .content .user-sec .user .dropDown ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 6px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .content .user-sec .user .dropDown ul li a:hover {
  color: #2bb7c4;
}

header .content .user-sec .user:hover .dropDown {
  -webkit-transform: translateX(-50%) translateY(10px);
          transform: translateX(-50%) translateY(10px);
  opacity: 1;
  visibility: visible;
}

header .content .user-sec .wish span {
  font-size: 18px;
  margin-left: 5px;
}

html[dir="ltr"] header .content .user-sec .wish span {
  margin-right: 5px;
  margin-left: 0;
}

header .content .user-sec .wish a {
  margin: 0 !important;
}

header .content .user-sec .myCart {
  position: relative;
}

@media (max-width: 991px) {
  header .content .user-sec .myCart {
    margin: 0 !important;
  }
}

header .content .user-sec .myCart span.lnr {
  font-size: 18px;
  margin-left: 5px;
}

html[dir="ltr"] header .content .user-sec .myCart span.lnr {
  margin-right: 5px;
  margin-left: 0;
}

header .content .user-sec .myCart span.counter {
  width: 12px;
  height: 12px;
  background-color: #3abdcb;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  font-family: "tjMd";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -5px;
  right: -3px;
  line-height: 1;
}

html[dir="ltr"] header .content .user-sec .myCart span.counter {
  right: unset;
  left: -3px;
}

.navBar {
  background-image: -webkit-gradient(linear, left top, right top, from(#742e70), to(#9a5695));
  background-image: linear-gradient(to right, #742e70, #9a5695);
}

@media (max-width: 991px) {
  .navBar {
    display: none;
  }
}

.navBar .container > ul {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .container > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .container > ul > li:not(:last-child) {
  margin-left: 27px;
}

html[dir="ltr"] .navBar .container > ul > li:not(:last-child) {
  margin-left: 0;
  margin-right: 27px;
}

.navBar .container > ul > li img {
  margin-left: 10px;
}

html[dir="ltr"] .navBar .container > ul > li img {
  margin-left: 0;
  margin-right: 10px;
}

.navBar .container > ul > li > a {
  font-size: 16px;
  color: #fff;
  font-family: "tjMd";
  line-height: 44px;
}

.navBar .container > ul > li.drop {
  position: relative;
}

.navBar .container > ul > li.drop .megaMenu {
  position: absolute;
  top: 100%;
  right: -35px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 574px;
  height: 298px;
  padding: 10px 22px 22px;
  border-radius: 10px;
  z-index: 99;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html[dir="ltr"] .navBar .container > ul > li.drop .megaMenu {
  right: unset;
  left: -35px;
}

.navBar .container > ul > li.drop .megaMenu:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  top: 0;
  right: 40px;
  -webkit-transform: translateY(-100%) translateX(-2px);
          transform: translateY(-100%) translateX(-2px);
}

html[dir="ltr"] .navBar .container > ul > li.drop .megaMenu:after {
  right: unset;
  left: 44px;
}

.navBar .container > ul > li.drop .megaMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.navBar .container > ul > li.drop .megaMenu ul li {
  width: 180px;
  border-bottom: 1px solid #e7e7e7;
  padding: 6px 10px;
  margin: 0;
}

html[dir="ltr"] .navBar .container > ul > li.drop .megaMenu ul li {
  padding: 5px 6px;
}

.navBar .container > ul > li.drop .megaMenu ul li:last-child {
  border-bottom: 0;
}

.navBar .container > ul > li.drop .megaMenu ul li a {
  font-size: 15px;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navBar .container > ul > li.drop .megaMenu ul li a:hover {
  color: #2cb8c5;
}

.navBar .container > ul > li.drop .megaMenu .pic {
  border-radius: 10px;
  overflow: hidden;
}

.navBar .container > ul > li.drop .megaMenu .pic img {
  margin: 0;
}

.navBar .container > ul > li.drop:hover .megaMenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.owl-nav {
  position: absolute;
  top: 49%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  right: 50%;
  width: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .owl-nav {
    display: none !important;
  }
}

.owl-dots {
  position: absolute;
  bottom: 40px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 767px) {
  .owl-dots {
    bottom: 15px;
  }
}

.owl-dots button:not(:last-child) {
  margin-left: 5px;
}

.owl-dots button.active span {
  background-color: rgba(180, 107, 147, 0.6);
}

.owl-dots button span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(180, 107, 147, 0.3);
}

.main-slider .owl-nav {
  position: absolute;
  top: 49%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  right: 50%;
  width: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 67px;
}

@media (max-width: 991px) {
  .main-slider .owl-nav {
    display: none;
  }
}

.main-slider .owl-nav button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-slider .owl-nav button span {
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-slider .owl-nav button:hover {
  background-color: #fff !important;
}

.main-slider .owl-nav button:hover span {
  color: #333;
}

.main-slider .owl-dots {
  position: absolute;
  bottom: 40px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: flex;
}

@media (max-width: 600px) {
  .main-slider .owl-dots {
    bottom: 10px;
  }
}

.main-slider .owl-dots button:not(:last-child) {
  margin-left: 5px;
}

.main-slider .owl-dots button.active span {
  background-color: #FFF;
}

.main-slider .owl-dots button span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.products {
  padding: 70px 0;
}

@media (max-width: 991px) {
  .products {
    padding: 40px 0 80px;
  }
}

.products.featured {
  margin-top: 20px;
}

.products h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: "tjBold";
  color: #333;
  text-align: center;
}

.products .owl-nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: calc(100% + 86px);
}

@media (min-width: 992px) {
  .products .owl-nav {
    width: calc(100% + 40px);
  }
}

@media (min-width: 1200px) {
  .products .owl-nav {
    width: calc(100% + 86px);
  }
}

@media (max-width: 991px) {
  .products .owl-nav {
    display: none !important;
  }
}

.products .owl-nav span {
  font-size: 18px;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.products .owl-nav span:hover {
  color: #2cb8c5;
}

@media (min-width: 992px) {
  .products .owl-dots {
    display: none;
  }
}

@media (max-width: 991px) {
  .products .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: -50px;
  }
}

.products .owl-dots span {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.products .owl-dots .owl-dot.active span {
  background-color: #2bb7c4;
}

.products .owl-carousel .owl-item img {
  width: auto;
}

.product {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(187, 215, 219, 0.004);
          box-shadow: 0px 1px 0px 0px rgba(187, 215, 219, 0.004);
  background-color: white;
  overflow: hidden;
  position: relative;
  padding: 0px 8px 12px;
  height: 390px;
  border: 1px solid #eaeaea;
}

html[dir="ltr"] .product {
  height: 412px;
}

@media (max-width: 991px) {
  .product {
    height: auto;
  }
}

.product .pic {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.product .pic img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.product:hover .pic img {
  -webkit-animation: flash 0.5s linear;
          animation: flash 0.5s linear;
}

.product .title {
  font-size: 15px;
  font-family: "tj";
  color: #333;
  line-height: 1.267;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 11px;
}

html[dir="ltr"] .product .title {
  height: 57px;
}

@media (max-width: 991px) {
  .product .title {
    height: 57px;
  }
}

.product .rating {
  margin-bottom: 15px;
}

.product .rating i {
  color: #cecece;
}

.product .rating i:not(:last-child) {
  color: #f3cf31;
  margin-left: 3px;
}

html[dir="ltr"] .product .rating i:not(:last-child) {
  margin-left: 0;
  margin-right: 3px;
}

.product .old-price {
  font-size: 18px;
  font-family: "tjBold";
  color: #afafaf;
  text-align: center;
  position: relative;
}

.product .old-price:after {
  content: "";
  width: 113px;
  height: 1px;
  background-color: #afafaf;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: rotate(-8deg) translateX(-50%);
          transform: rotate(-8deg) translateX(-50%);
}

.product .price {
  font-size: 16px;
  font-family: "tjMd";
  color: #f0144d;
  text-align: center;
  margin-bottom: 13px;
}

.product .product-options {
  padding: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .product-options .toCart {
  width: 158px;
  height: 32px;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(#773373), to(#9c5a97));
  background-image: linear-gradient(to right, #773373, #9c5a97);
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4px;
  font-size: 14px;
  font-family: "tjMd";
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .product .product-options .toCart {
    width: 111px;
  }
}

@media (max-width: 767px) {
  .product .product-options .toCart {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.product .product-options .toCart:hover {
  background-image: none;
  background-color: #2cb8c5;
}

.product .product-options .heart {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #c2c2c2;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product .product-options .heart:hover {
  background-color: #e23167;
}

.banner1 .pic {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .banner1 .pic {
    margin-top: 25px;
  }
}

.banner1 .pic img {
  margin: auto;
}

.banner1 .pic img:hover {
  -webkit-animation: flash .5s linear;
          animation: flash .5s linear;
}

.banner1 .pic:hover img:not(:first-child) {
  -webkit-animation: flash 0.5s linear;
          animation: flash 0.5s linear;
}

.mainBanner .pic {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainBanner .pic img {
  width: 100%;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainBanner .pic:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.testim {
  padding: 85px 0 130px;
  background-color: #f6f6f6;
}

@media (max-width: 991px) {
  .testim {
    padding: 40px 0 100px;
  }
}

.testim h2 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-family: "tjBold";
  color: #333;
}

.testim .item {
  border: 1px solid #f2f2f2;
  background-color: #fff;
  padding: 30px;
}

html[dir="ltr"] .testim .item {
  text-align: left;
}

@media (max-width: 767px) {
  .testim .item {
    text-align: center;
  }
}

.testim .item .text {
  font-size: 16px;
  color: #333333;
  line-height: 1.875;
  font-family: "tj";
  margin-bottom: 17px;
}

.testim .item .rating {
  margin-bottom: 15px;
  display: block;
}

.testim .item .rating i {
  color: #cecece;
}

.testim .item .rating i:not(:last-child) {
  color: #f3cf31;
  margin-left: 3px;
}

html[dir="ltr"] .testim .item .rating i:not(:last-child) {
  margin-left: 0;
  margin-right: 3px;
}

.testim .item .person {
  font-size: 18px;
  font-family: "tjMd";
  color: #9b5697;
}

.testim .owl-nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: calc(100% + 86px);
}

@media (min-width: 992px) {
  .testim .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% + 36px);
  }
}

@media (min-width: 1200px) {
  .testim .owl-nav {
    width: calc(100% + 86px);
  }
}

@media (max-width: 991px) {
  .testim .owl-nav {
    display: none !important;
  }
}

.testim .owl-nav span {
  font-size: 18px;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.testim .owl-nav span:hover {
  color: #2cb8c5;
}

.testim .owl-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  bottom: -50px;
}

.testim .owl-dots span {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.testim .owl-dots .owl-dot.active span {
  background-color: #2bb7c4;
}

.blog {
  padding: 85px 0 100px;
}

@media (max-width: 991px) {
  .blog {
    padding: 40px 0 100px;
  }
}

.blog h2 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-family: "tjBold";
  color: #333;
}

html[dir="ltr"] .blog .item {
  text-align: left;
}

@media (max-width: 767px) {
  .blog .item {
    text-align: center;
  }
}

.blog .pic {
  position: relative;
}

.blog .pic .over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(116, 46, 112, 0.8)), to(rgba(154, 86, 149, 0.95)));
  background-image: linear-gradient(to right, rgba(116, 46, 112, 0.8), rgba(154, 86, 149, 0.95));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog .pic .over span {
  font-size: 36px;
  color: #fff;
}

.blog .item:hover .over {
  opacity: 1;
}

.blog .owl-nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: calc(100% + 86px);
}

@media (min-width: 992px) {
  .blog .owl-nav {
    width: calc(100% + 40px);
  }
}

@media (min-width: 1200px) {
  .blog .owl-nav {
    width: calc(100% + 86px);
  }
}

@media (max-width: 991px) {
  .blog .owl-nav {
    display: none !important;
  }
}

.blog .owl-nav span {
  font-size: 18px;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog .owl-nav span:hover {
  color: #2cb8c5;
}

.blog .owl-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  bottom: -50px;
}

@media (min-width: 992px) {
  .blog .owl-dots {
    display: none !important;
  }
}

.blog .owl-dots span {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.blog .owl-dots .owl-dot.active span {
  background-color: #2bb7c4;
}

.blog .title {
  font-size: 18px;
  font-family: "tjMd";
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog .title:hover {
  color: #9b5697;
}

.blog .text {
  font-family: "tj";
  font-size: 15px;
  color: #7c7c7c;
  margin-bottom: 0;
  width: 97%;
}

html[dir="ltr"] .blog .text {
  margin-right: 3%;
}

.clients .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 132px;
  height: 132px;
  border: 1px solid #f1f1f1;
  margin: auto;
}

.clients .owl-carousel .owl-item img {
  width: auto;
}

.clients .owl-nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: calc(100% + 30px);
}

@media (max-width: 991px) {
  .clients .owl-nav {
    display: none !important;
  }
}

.clients .owl-nav span {
  font-size: 18px;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.clients .owl-nav span:hover {
  color: #2cb8c5;
}

.clients .owl-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  bottom: -50px;
}

@media (min-width: 992px) {
  .clients .owl-dots {
    display: none !important;
  }
}

.clients .owl-dots span {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.clients .owl-dots .owl-dot.active span {
  background-color: #2bb7c4;
}

.features {
  margin: 80px 0 55px;
}

html[dir="ltr"] .features .col-md-3 {
  padding: 0 3px;
}

.features .feat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .feat span.lnr {
  font-size: 24px;
  color: #2cb8c5;
  margin-left: 10px;
}

html[dir="ltr"] .features .feat span.lnr {
  margin-left: 0;
  margin-right: 10px;
}

.features .feat span:last-child {
  font-size: 15.7px;
  color: #0f0f0f;
}

@media (max-width: 991px) {
  .features .feat {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .feat span {
    margin: 0;
  }
  .features .feat span.lnr {
    margin: 0;
    margin-bottom: 10px;
  }
}

footer {
  padding: 65px 0 70px;
  background-image: -webkit-gradient(linear, left top, right top, from(#742E70), to(#9A5695));
  background-image: linear-gradient(to right, #742E70, #9A5695);
}

@media (max-width: 991px) {
  footer {
    padding: 40px 0;
  }
}

@media (max-width: 991px) {
  footer .foot-links {
    margin-bottom: 15px;
  }
}

footer .foot-links .collapse {
  display: block;
}

@media (max-width: 991px) {
  footer .foot-links .collapse {
    display: none;
  }
}

footer .foot-links .collapse.in {
  display: block;
}

footer .foot-links > button {
  font-size: 16px;
  font-family: "tjBold";
  color: #fff;
  margin-bottom: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
  pointer-events: none;
}

footer .foot-links > button.trans:after {
  content: "\2212";
}

@media (max-width: 991px) {
  footer .foot-links > button {
    width: 100%;
    margin: auto;
    pointer-events: all;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 480px) {
  footer .foot-links > button {
    width: 100%;
  }
}

footer .foot-links > button:after {
  content: "\002B";
  margin-left: 5px;
  font-size: 18px;
  float: left;
  display: none;
}

@media (max-width: 991px) {
  footer .foot-links > button:after {
    display: block;
  }
}

@media (max-width: 991px) {
  footer .foot-links ul {
    padding-top: 10px;
    padding-right: 10px;
  }
}

footer .foot-links ul li:not(:last-child) {
  margin-bottom: 10px;
}

footer .foot-links a {
  font-size: 14px;
  font-family: "tj";
  color: #ffd5fd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .foot-links a:hover {
  color: #FFF;
}

@media (min-width: 992px) {
  footer .newsletter {
    margin-top: 35px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  footer .newsletter {
    margin-top: 0;
    text-align: right;
  }
}

@media (max-width: 991px) {
  footer .newsletter {
    margin-top: 35px;
    text-align: center;
  }
}

footer .newsletter > p {
  font-size: 16px;
  font-family: "tjBold";
  color: #fff;
  margin-bottom: 20px;
}

footer .newsletter > span {
  font-size: 14px;
  font-family: "tj";
  color: #fff;
  margin-bottom: 15px;
  display: block;
}

footer .frm {
  position: relative;
  margin-bottom: 17px;
  width: 360px;
}

@media (min-width: 992px) {
  footer .frm {
    margin: auto;
    margin-bottom: 17px;
  }
}

@media (max-width: 991px) {
  footer .frm {
    margin: auto;
    margin-bottom: 17px;
  }
}

@media (max-width: 375px) {
  footer .frm {
    width: 280px;
  }
}

footer .frm input {
  padding: 0 20px;
  height: 45px;
  width: 100%;
  border: 0;
  color: #bbbbbb;
  border-radius: 100px;
  font-size: 14px;
  background-color: #FFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .frm input::-webkit-input-placeholder {
  color: #bbbbbb;
}

footer .frm input::-moz-placeholder {
  color: #bbbbbb;
}

footer .frm input:-ms-input-placeholder {
  color: #bbbbbb;
}

footer .frm input::-ms-input-placeholder {
  color: #bbbbbb;
}

footer .frm input::placeholder {
  color: #bbbbbb;
}

footer .frm button {
  position: absolute;
  top: 50%;
  left: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2BB7C4;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s;
  transition: .5s;
}

html[dir="ltr"] footer .frm button {
  left: unset;
  right: 6px;
}

footer .frm button span {
  font-size: 14px;
  color: #FFF;
}

footer .frm button:hover {
  background-color: #742E70;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .social a:not(:last-child) {
  margin-left: 5px;
}

html[dir="ltr"] footer .social a:not(:last-child) {
  margin-left: 0;
  margin-right: 5px;
}

footer .social a i {
  color: #FFF;
}

footer .social a:hover {
  background-color: #FFF;
}

footer .social a:hover i {
  color: #7B3678;
}

.end {
  background-image: -webkit-gradient(linear, left top, right top, from(#742E70), to(#9A5695));
  background-image: linear-gradient(to right, #742E70, #9A5695);
}

.end .container {
  border-top: 1px solid #9A5F95;
  padding: 0;
}

.end .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .end .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .end .content {
    text-align: center;
  }
}

.end .content p,
.end .content a {
  font-size: 14px;
  color: #FFF;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .end .content p,
  .end .content a {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .end .content p,
  .end .content a {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .end .content p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

.end .content a img {
  width: 58px;
  height: 21px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  margin-right: 5px;
}

html[dir="ltr"] .end .content a img {
  margin-right: 0;
  margin-left: 5px;
}

@media (max-width: 480px) {
  .end .content a {
    margin-top: 10px;
  }
}

.end .content > img {
  width: 220px;
  height: 44px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

/*# sourceMappingURL=home.css.map */
